*{
    padding: 0;
    margin: 0;
    position: relative;
}

#body-dark{
    background-color:  #212529;
}

#body-light{
    background-color:  #F8F9FA;
}

canvas{
    display: block;
    margin: auto;
    border: 2px solid black;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
    display: inline;
    color: ivory;
}

.level-dark{
    color: ivory;
}

.level-light{
    color: #212529;
}

audio{
    margin-bottom: -50px;
}

input{
    margin-top: -10px;
    margin-right: 20px;
    margin-left: 5px;
    text-align: center;
}

.span-dark{
    color: #F8F9FA;
}

.span-light{
    color: #212529;
}

.hr-dark{
    background-color: #F8F9FA;
}

b{
    margin: 5px;
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#upper{
    margin-bottom: -10px;
    margin-top: -5px;
    text-align: center;
}

#level{
    margin-right: 10px;
}

#music{
    text-align: center;
    margin-left: -50px;
    margin-top: 10px;
}

#scoreboard{
    width: 100%;
}

#scoreboard-inner{
    width: 640px;
    height: 30px;
}

#scoreboard-innest{
    font-size: 20px;
    width: 180px;
    text-align: center;
    margin-top: -518px;
    margin-left: -464px;
    color: aliceblue;
}

#score{
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid black;
}

#footer{
    text-align: center;
}

#footer-copyright{
    width: 200px;
    color: red;
    margin-top: 428px;
    margin-left: 860px;
    text-shadow: 2px 2px 2px black;
}

#bar{
    text-align: center;
}

#nickname{
    margin-left: 10px;
    margin-top: -1px;
}

#saveButton{
    margin-top: -1px;
}